$root-font-size: 1rem;
$font-family: 'Roboto', sans-serif;
$page-width: 800px;
$paragraph-font-size: 1.6rem;
$primary-color: #f4623a;
$secondary-color: #343a40;
$primary-text-color: rgba(255, 255, 255, 0.5);
$secondary-text-color: #fff;